.icon {
  * {
    margin: 0;
    transition: all 0.5s;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    li {
      width: 1em;
      height: 1em;
      //border: solid 1px grey;
      text-align: center;
      border-radius: 5px;
      padding: 0;
      margin: 0 0.5em;
      cursor: pointer;
      &:hover {
        background-color: #111;
      }
      &:hover svg g path {
        fill: white;
      }
      img {
        fill: white;
        width: 12px;
        height: 12px;
        &:hover {
          color: white;
        }
      }
    }
  }
}
.drop {
  max-width: 300px;
  margin: 7px;
}
.form {
  margin-top: 2px;
  padding: 5px 0;
  border-top: 1px solid #040609;
  box-sizing: border-box;
  width: 300px;
  input {
    outline: none;
    margin-left: 0.5rem;
    background-color: #040609;
    color: #92abcd;
    font-size: 12px;
    font-family: monospace;
    border-radius: 7px;
    width: 200px;
  }
  button {
    text-align-last: center;
    border: 0;
    box-sizing: border-box;
    color: #92abcd;
    background-color: #212c3d;
    border-radius: 7px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
    right: 0;
    margin-left: 0.5rem;
    box-shadow: 0 0 8px #040609;
    &:hover {
      box-shadow: 0 0 8px #040609 inset;
      cursor: pointer;
    }
  }
}
