.navbar {
  min-width: 250px;
  background-color: #1a2230;
  // width: 100vw;
  height: 20px;
  top: 0;
  margin: 0;
  padding: 0.1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  svg {
    height: 20px;
    width: 20px;
    padding: 0;
    border-radius: 50%;
  }
  #logo span {
    display: none;
  }
  #menuSide {
    z-index: 3;
    width: 0;
    position: absolute;
  }
  .menu {
    display: none;
    height: inherit;
    ul {
      .active {
        color: #ff0028;
      }
      margin: 0;
      padding: 0;
      display: inherit;
      align-items: center;
      li,
      li * {
        text-decoration: none;
        margin: 0 1em;
        overflow: hidden;
        text-overflow: ellipsis;
        width: inherit;
        cursor: pointer;
        font-family: monospace;
        transition: all 1s;
        &:hover {
          color: #ff0028;
          transition: all 1s;
        }
      }
    }
  }
}
@media screen and (min-width: 760px) {
  .navbar {
    height: 30px;
    justify-content: space-around;
    #logo span {
      display: none;
    }
    svg {
      height: 30px;
      width: 30px;
    }
    div {
      &:nth-of-type(even) {
        display: none;
      }
    }
    #menuSide {
      display: none;
    }
    .menu {
      display: inline-flex;
      height: inherit;
      ul {
        #main {
          display: none;
        }
        margin: 0;
        padding: 0;
        display: inherit;
        align-items: center;
        li,
        li * {
          margin: 0 1em;
          overflow: hidden;
          text-overflow: ellipsis;
          color: #92abcd;
        }
      }
    }
  }
  //tablette
}

@media screen and (min-width: 1024px) {
  .navbar {
    #logo {
      text-align: center;
      span {
        display: initial !important;
        position: absolute;
        margin-top: 7px;
        font-size: 20px;
        margin-left: 10px;
        font-weight: bold;
        color: #ff0028;
        animation: anim 7s ease-in-out alternate infinite;
        font-family: monospace;
      }
      * {
        text-decoration: none;
      }
    }
    .menu {
      ul {
        .active {
          color: #ff0028;
        }
        #main {
          display: inherit;
        }
      }
    }
    height: 40px;
    justify-content: space-between;
    align-content: flex-end;
    svg {
      path {
        animation: anim 7s linear alternate infinite;
      }
      height: 40px;
      width: 40px;
      vertical-align: bottom;
      margin-left: 1em;
    }
    @keyframes anim {
      0% {
        color: #ff0028;
        fill: #ff0028;
      }
      25% {
        color: #ff5e00;
        fill: #ff5e00;
      }
      50% {
        color: #11ece5;
        fill: #11ece5;
      }
      75% {
        color: #92abcd;
        fill: #92abcd;
      }
      100% {
        color: #fff;
        fill: #fff;
      }
    }
    position: sticky;
    top: 0;
    z-index: 2;
  }
}
@media screen and (min-width: 1917px) {
  .navbar {
    height: 40px;
    align-content: flex-end;
    justify-content: space-around;
    #logo span {
      display: none !important;
    }
    .menu {
      position: absolute;
      #main {
        display: none !important;
      }
      #board {
        position: fixed;
        right: 0;
      }
      ul {
        margin: 0;
        padding: 0;
        li,
        li * {
          // margin: 0 10vw;
          animation: anim1 20s ease-in-out infinite alternate;
          text-transform: uppercase;
          @keyframes anim1 {
            from {
              margin: 0 5vw;
            }
            to {
              margin: 0 10vw;
            }
          }
        }
      }
    }
    svg {
      animation: rotating 10s linear infinite;
      vertical-align: center;
      cursor: pointer;
      margin: 0;
    }
    @keyframes rotating {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }
}
